<ion-view view-title='Stats'>
  <ion-content class="padding">
	  <span class="graphHeadline" style="font-weight: bold; font-family: 'Lato'; text-align: center"><h3>Waste by Category</h3></span><br>
	  <canvas id="myDoughnutChart" class="col col-center" width="250" height ="250"></canvas>
	  <br>
	  <span class="graphHeadline"  style="font-weight: bold; font-family: 'Lato'; text-align: center"><h3>Waste History (Past 7 Days)</h3></span>
	  <br>
	  <canvas id="myLineChart" class="col col-center" width="250" height="250" style="text-align: center"></canvas>
	  <br>
  </ion-content>
</ion-view>